        <!--begin::Footer-->
<footer class="app-footer bg-body-secondary">
    <div class="float-end d-none d-sm-inline">Phát triển bởi: Lê Thanh Thuyết</div>
    <strong>
        Bản quyền &copy; 2026&nbsp;
        <a href="https://adminlte.io" class="text-decoration-none">@ApplicationContext.AppName</a>.
    </strong>
</footer>
<!--end::Footer-->